.principal{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: minmax(100px, auto);
}

.principal div{
    background-color: #eee;
    padding: 1rem;
}

.exemplo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: minmax(100px, auto);
}

.exemplo div{
    background-color: forestgreen;
}