.item{
    margin: 5px;
    background-color:  aquamarine;
    text-align: center;
    font-size: 1rem;
}

.grid{
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #000;
    display: grid;
    grid-template-areas: 
    "logo nav nav"
    "sidenav content advert"
    "sidenav footer footer";
}
.logo{
    grid-area: logo;
 }

 .nav{
    grid-area: nav;
}

.sidenav{
    grid-area: sidenav;
}
.content{
    grid-area: content;
}

.advert{
    grid-area: advert;
}

.footer{
    grid-area: footer;
}

.principal{
    grid-template-columns: 30% 60% 10%;
grid-template-rows: 50px 150px 50px;
}

@media  (min-width: 320px) and (max-width:799px) {

    .grid{
       grid-template-areas: 
       "logo logo "
       "nav nav "
       "content content"
       "sidenav advert"
        "footer footer";
    }
   }